$default-font-size: 16px;

$color-example: #cc9d39;

$breakpoints: (
  xs: $xs * 1px,
  sm: $sm * 1px,
  md: $md * 1px,
  lg: $lg * 1px,
  xl: $xl * 1px
);

$container-width: 1140px;
$container-gutter: 20px;

$nav-topbar-xs-height: 64px;
$nav-topbar-sm-height: 83px;

$weight-normal: 300;
$weight-bold: 700;
$weight-black: 900;
