// Example color

.bgcolor-xs-example {
  background-color: $color-example;
}

@include media(">=sm") {
  .bgcolor-sm-example {
    background-color: $color-example;
  }
}

@include media(">=md") {
  .bgcolor-md-example {
    background-color: $color-example;
  }
}

@include media(">=lg") {
  .bgcolor-lg-example {
    background-color: $color-example;
  }
}

@include media(">=xl") {
  .bgcolor-xl-example {
    background-color: $color-example;
  }
}
