{% extends "_base.twig" %}

{% block bodyContent %}
    <div class="h-screen w-screen flex justify-center items-center">
        <a href="https://weareferal.com">
            <img style="width: 400px" src="https://weareferal.com/uploads/images/feral_logo_master.png">
        </a>
    </div>
{% endblock %}
