html,
body {
  overflow-x: hidden;
  background-color: #fff;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  color: #444;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
